.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}


.img-logo {
    width:100px;
    height:100px;
}

.logo {
    display: flex;
    gap: 30px;
    color:white;
    margin-top: 30px;
}
/* h1{
    color: white;
} */